EMAIL_HOST_PASSWORD = ''
EMAIL_HOST_USER = ''
CHRIS_EMAIL = ''
TWILIO_ACCOUNT_SID = ''
TWILIO_AUTH_TOKEN = ''
TWILIO_PHONE = ''  # e.g. '+12151234567'
CHRIS_PHONE = ''  # e.g. '+12151234567'
TEXT_SIGNATURE = ''  # e.g. ' - Gertrude'
